
<div id="section-cta">
    <div class="container">
        <h3>{{section.srttings.text-box}}</h3>
        <a href="{{section.settings.link}}" class="btn btn-cta">{{section.settings.linktext}}</a>
    </div>
</div>

{% schema %}
{
    "name": "Call to action",
    "settings": [
        {
            "id": "id",
            "type": "text",
            "label": "Heading",
            "default": "Title"
        },
        {
            "id": "link",
            "type": "url",
            "label": "Button text"
        },
        {
            "id": "linktext",
            "type": "text",
            "label": "Button text",
            "default": "Click here"
        }
    ]
    ,
    "presets": [
        {
            "category": "Call to Action",
            "name":"Dynamic Text"
        }
    ]
}
{% endschema %}



{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}