/* GENERAL */

.sp{
    padding: 0;
    margin:0;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
}

.sp p{
    color: #585858;
  	margin: 0;
}

@media(min-width:970px){
   .sp p{font-size: 27px;}
}

@media(max-width:970px){
   .sp p{font-size: 21px;}
}

@media(max-width:400px){
    .sp p{font-size: 17px;}
 }

/* MAIN */

.main-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
}

/* LOGO */

.logo-container{
    height: 100%;
    position: absolute;
    text-align: center;
    overflow: hidden;
}

.logo-container p{
    margin-bottom: 0px;
}

.logo{
    width: auto;
    height: auto;
    max-width: 350px;
}


@media(min-width:970px){
    .logo-container{margin-top: 120px;}
}

@media(max-width:970px){
    .logo-container{margin-top: 150px;}
}

@media(max-width:700px){
    .logo-container{margin-top: 150px;}
}

@media(max-width:400px){
    .logo-container{margin-top: 70px;}
    .logo{width: 250px;}
}

/* LEAF */

.leaf-container{
    background:url('./leaves.png') no-repeat center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    width: 100%;
    /* height: 100%; */
}

@media(min-width:970px){
    .leaf-container{
        height: 923px;
        margin-top: 35px;
    }
 }
 
 @media(max-width:970px){
    .leaf-container{
        height: 700px;
        margin-top: 5px;
    }
 }

 @media(max-width:400px){
    .leaf-container{
        height: 400px;
        margin-top: 0px;
    }
 }

.select-option{
    white-space: nowrap;
    display: inline-block;
    align-self: center; 
    justify-self: center;
}


/* BUTTONS */

#button-container{
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    position: absolute;
}

#button-container a{
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    display: inline-block;
}



@media(min-width:990px){
    #personal{
        margin-left: 40px; 
    } 
    #retailer{
        margin-right: 40px; 
    }
}

@media(max-width:990px){
    #personal{
        margin-left: 40px; 
    } 
    #retailer{
        margin-right: 40px; 
    }
}

@media(min-width:990px) and (max-width: 1600px){
    #personal{
        margin-left: 50px; 
    } 
    #retailer{
        margin-right: 50px; 
    }
}

@media(min-width:1600px){
    #personal{
        margin-left: 70px; 
    } 
    #retailer{
        margin-right: 70px; 
    }
}

@media(min-width:1700px){
    #personal{
        margin-left: 100px; 
    } 
    #retailer{
        margin-right: 100px; 
    }
}


#button-container > #retailer{
    background-color: #1b5433;
    color: white;
}

#button-container > #retailer:hover{
    background-color: white;
    color: #1b5433;
    border: 2px solid #1b5433;
}

#button-container > #personal{
    background-color: white;
    color: #1b5433;
    border: 2px solid #1b5433;
}

#button-container > #personal:hover{
    background-color: #1b5433;
    color: white;
}


@media(min-width: 970px){
    #button-container > a{font-size: 25px;}

    #button-container > #retailer{padding: 11px 77px;}
    
    #button-container > #retailer:hover{padding: 9px 75px;}
    
    #button-container > #personal{padding: 9px 75px;}
    
    #button-container > #personal:hover{padding: 11px 77px;}

}

@media(max-width: 970px){
    #button-container > a{font-size: 17px;}

    #button-container > #retailer{padding: 11px 50px;}
    
    #button-container > #retailer:hover{padding: 9px 48px;}
    
    #button-container > #personal{padding: 9px 48px;}
    
    #button-container > #personal:hover{padding: 11px 50px;}
}

@media(max-width: 550px){
    #button-container > a{font-size: 15px;}

    #button-container > #retailer{padding: 13px 40px;}
    
    #button-container > #retailer:hover{padding: 11px 38px;}
    
    #button-container > #personal{padding: 11px 38px;}
    
    #button-container > #personal:hover{padding: 13px 40px;}
}






